body {
  
 background-color: #FFFDD0;
 font-family: Arial, Times New Roman, Verdana; 
}

.exp-header {
  text-transform: uppercase; 
  border-top: solid;
  border-bottom: solid;
  color: #7CB9E8
}

.title {
  text-align: center;
  color: #0066B2;

}
.experience-details {
  color: #0066B2;
  margin-bottom: 2%;
}

.Education {
  
  text-transform: uppercase; 
  border-top: solid;
  border-bottom: solid;
  color: #7CB9E8
}

.education-details{
   color: #0066B2;
}
